{%- for block in section.blocks -%}
{%- assign b_s = block.settings -%}
{%- case block.type -%}
  {%- when 'categories' -%}
    {%- assign blogs_name = b_s.list_blog -%}
    {%- if blogs_name != blank -%}
    <div class="sf-block-aside">
      <h3 class="sf-aside-title">{{ b_s.title }}</h3>
      <div class="sf-aside-content">
        <ul class="sf-list-row">
          {% for link in linklists[blogs_name].links %}
              {% unless blog.handle == link.handle %}
              {%- if blogs[link.handle] != blank -%}
              <li>
                <a href="{{ link.url }}">
                  <span class="sf__title-count">{{ link.title }}
                    <span class="sf__count-number">({{ blogs[link.handle].articles_count }})</span>
                  </span>
                </a>
              </li>
              {%- else -%}
              <li>
                <a href="{{ link.url }}">
                  <span class="sf__title-count">{{ link.title }}</span>
                </a>
              </li>
              {%- endif -%}
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {%- endif -%}
  {%- when 'tags' -%}
    {%- if blog.all_tags != blank -%}
    <div class="sf-block-aside">
      <h3 class="sf-aside-title">{{ b_s.title }}</h3>
      <div class="sf-aside-content">
        <ul class="sf-list-inline">
          {%- for tag in blog.all_tags -%}
            <li class="capitalize">{{ tag | link_to_tag: tag }}</li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    {%- endif -%}
  {%- when 'recent_post' -%}
    {%- assign name_collection = b_s.sidebar_recent_blog_name -%}
    {%- assign length = b_s.sidebar_recent_blog_count | plus: 0 -%}
    {%- assign selected_blog = blogs[name_collection] -%}
    {%- if name_collection != blank -%}
    <div class="sf-block-aside">
      <h3 class="sf-aside-title">{{ b_s.title }}</h3>
      <div class="sf-aside-content">
        <div class="sf-aside-post">
          {%- for article in selected_blog.articles limit: length -%}
            <div class="item">
              <div>
                <a href="{{ article.url }}">{% render 'responsive-image', image: article.image %}</a>
              </div>
              <div>
                {%- if article.tags.size > 0 and b_s.blog_show_tags -%}
                <div class="sf-tag">
                  {%- for tag in article.tags limit: 1 -%}{{ tag | link_to_tag: tag }}{%- endfor -%}
                </div>{%- endif -%}
                <a href="{{ article.url }}">
                  <div class="sf-title">{{ article.title }}</div>
                  {%- if b_s.show_excerpt -%}
                  <div class="sf-description">
                    {%- if article.excerpt.size > 0 -%}
                      {%- if b_s.truncate_excerpt -%}
                        {{ article.excerpt | strip_html | truncatewords: b_s.truncate, '...' }}
                      {%- else -%}
                        {{ article.content | strip_html | truncatewords: b_s.truncate, '...' }}
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                </a>
                {%- if b_s.blog_show_author or b_s.blog_show_date -%}
                <div class="sf-info">
                  {% if b_s.blog_show_author %}{{ 'blogs.article.by_author' | t }} <span>{{ article.author }}</span> {% endif %}{% if b_s.blog_show_date %}{{ 'blogs.article.posted_in' | t }} <span>{{ article.created_at | date: '%B' }} {{ article.created_at | date: '%d, %Y' }}</span>{% endif %}
                </div>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {%- endif -%}
  {%- when 'instagram' -%}
    {%- if settings.instagram_token != blank -%}
    <div class="sf-block-aside">
      <h3 class="sf-aside-title">{{ b_s.title }}</h3>
      <div class="sf-aside-content">
        <div class="mt-5 sf__aside-instagram"
            data-access-token="{{settings.instagram_token}}"
            data-images-count="{{b_s.images_count}}">
            <div class="instagram-images grid grid-cols-3 gap-1"></div>
        </div>
      </div>
    </div>
    {%- endif -%}
{%- endcase -%}
{%- endfor -%}
