<div class="sf__collection-toolbar" data-layout="{{ grid_layout }}">
  <div class="sf__toolbar-wrapper transition-all duration-300 flex items-center justify-between">
    <div class="flex sf__toggle-filter {% unless show_filter %}xl:hidden{% endunless %}">
      {%- if show_filter -%}
        <button class="flex items-center sf__sidebar-open mr-4 md:mr-8 font-medium">
            <span class="mr-2">{{ 'collections.toolbar.show_filter' | t }}</span>
            {% render 'icon', name: 'chevron-down', size: 'extra-small' %}
        </button>
      {%- endif -%}
      {% if section.settings.show_sorting %}
        <button class="md:hidden sf__sortmb-icon flex items-center font-medium">
          <span class="mr-2 whitespace-nowrap">{{ 'collections.toolbar.sort_by_title' | t }}</span>
          {% render 'icon', name: 'chevron-down', size: 'extra-small' %}
        </button>
      {% endif %}
    </div>

    {% assign class_name = '' %}
    {% if show_filter %}
      {% if section.settings.sidebar != 'fixed' %}
        {% assign class_name = 'md:w-full w-auto' %}
      {% endif %}
    {% else %}
      {% assign class_name = 'md:w-full w-auto' %}
    {% endif %}
    <div class="flex flex-1 {{ class_name }} items-center justify-between sf__group-sortView{% unless section.blocks.size > 0 %} w-full{% endunless %}">
      {% if section.settings.show_sorting %}
        <div class="sf__collection-sort hidden md:block" data-toolbar-sortby>
          {% render 'collection-filters-sort-by' %}
        </div>
      {% endif %}

      <div class="flex-1"></div>
      {% if section.settings.show_columns_switcher %}
      <div class="sf__gridColumn-view flex flex-wrap pl-7" data-product-in-column="{{ grid_columns_view }}">
        <a href="#" class="flex sf__tooltip-item sf__tooltip-top sf__col-one{% if grid_layout == 'list' %} active{% endif %}" data-column="1" data-value="sf__col-one">
          {% render 'icon', name: 'view-list', size: 'extra-small' %}
          <span class="sf__tooltip-content text-[12px]">{{ 'collections.toolbar.view_list' | t }}</span>
        </a>
        <a href="#" class="flex sf__tooltip-item sf__tooltip-top sf__col-two" data-column="2" data-value="sf__col-two">
          {% render 'icon', name: 'view-grid-2column', size: 'extra-small' %}
          <span class="sf__tooltip-content text-[12px]">{{ 'collections.toolbar.grid_2cloumns' | t }}</span>
        </a>
        <a href="#" class="hidden sf__tooltip-item sf__tooltip-top md:flex sf__col-three" data-column="3" data-value="sf__col-three">
          {% render 'icon', name: 'view-grid-3column', size: 'extra-small' %}
          <span class="sf__tooltip-content text-[12px]">{{ 'collections.toolbar.grid_3cloumns' | t }}</span>
        </a>
        <a href="#" class="hidden sf__tooltip-item sf__tooltip-top md:flex sf__col-four" data-column="4" data-value="sf__col-four">
          {% render 'icon', name: 'view-grid-4column', size: 'extra-small' %}
          <span class="sf__tooltip-content text-[12px]">{{ 'collections.toolbar.grid_4cloumns' | t }}</span>
        </a>
        <a href="#" class="hidden sf__tooltip-item sf__tooltip-top lg:flex sf__col-five" data-column="5" data-value="sf__col-five">
          {% render 'icon', name: 'view-grid-5column', size: 'extra-small' %}
          <span class="sf__tooltip-content text-[12px]">{{ 'collections.toolbar.grid_5cloumns' | t }}</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
