<div class="md:px-4 xl:px-16 2xl:px-24 w-1/6 sf-customer__nav hidden md:flex flex-col border-r border-color-border">
    <a
        href="{{ routes.account_url }}"
        class="{% if request.path == routes.account_url %} active {% endif %}"
    >
        {{ 'customer.account.dashboard' | t }}
    </a>
    <a
        href="{{ routes.account_addresses_url }}"
        class="{% if request.path == routes.account_addresses_url %} active {% endif %}"
    >
        {{ 'customer.account.addresses' | t }}
    </a>
    {% if settings.wishlist_page != blank %}
    <a href="{{ pages[settings.wishlist_page].url }}">
        {{ 'customer.account.wishlist' | t }}
    </a>
    {% endif %}
    <a href="{{ routes.account_logout_url }}">
        {{ 'customer.account.log_out' | t }}
    </a>
</div>
