{% assign tags_list = block.settings.filtergroup | strip_newlines | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq %}
{% assign title_handle = block.settings.title | handleize %}
{% assign has_tags = false %}
{% assign all_tags_downcase = all_tags_downcase | replace: ' ','-' %}

{% for tag in tags_list %}
    {%- assign tag_json = tag | downcase | handleize | json -%}
    {% assign tag_handle = tag | handleize | downcase | prepend: '_' %}
    {% if all_tags_downcase contains tag_json or new_current_tags contains tag_handle %}
        {% assign has_tags = true %}
    {% endif %}
{% endfor %}

{% assign block_style = block.settings.design_filtergroup %}

{% assign list_class = 'sf__list-row' %}
{% assign item_class = 'tag-filter--' | append: block_style %}
{% case block_style %}
  {% when 'color' %}
    {% assign list_class = 'sf__options-swatch' %}
  {% when 'inrow' %}
    {% assign list_class = 'sf__list-inline' %}
  {% when 'button' %}
    {% assign list_class = 'sf__options-swatch sf__button' %}
{% endcase %}

{% assign use_accordion = block.settings.use_accordion %}
{% assign open_filtergroup = block.settings.open_filtergroup %}
{% if tags_list.size > 0 and has_tags %}
    <div class="widget-filter mb-8 {% if use_accordion %}sf__accordion-item{% endif %}{% if use_accordion and open_filtergroup %} open{% endif %}">
      <h4 class="{% if use_accordion %}sf__accordion-button{% endif %} mb-4 !text-lg font-medium">{{ block.settings.title }}</h4>

        <div class="widget-filter__list max-h-full widget-filter--{{ block_style }}{% if use_accordion %} sf__accordion-content max-h-full{% endif %}"{%- if open_filtergroup -%} style="opacity: 1;"{%- endif -%}>
            {% if tags_list.size > 10 %}
              <div class="filter-search-wrapper">
                <input type="text">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.627 53.627" style="enable-background:new 0 0 53.627 53.627;" xml:space="preserve">
                  <path d="M53.627,49.385L37.795,33.553C40.423,30.046,42,25.709,42,21C42,9.42,32.58,0,21,0S0,9.42,0,21s9.42,21,21,21  c4.709,0,9.046-1.577,12.553-4.205l15.832,15.832L53.627,49.385z M2,21C2,10.523,10.523,2,21,2s19,8.523,19,19s-8.523,19-19,19  S2,31.477,2,21z M35.567,36.093c0.178-0.172,0.353-0.347,0.525-0.525c0.146-0.151,0.304-0.29,0.445-0.445l14.262,14.262  l-1.415,1.415L35.123,36.537C35.278,36.396,35.416,36.238,35.567,36.093z"/>
                </svg>
              </div>
            {% endif %}

            <ul class="{{ list_class }}{% if section.settings.limit_height_widget %} sf-scroll_content{% endif %}">
                {% for tag in tags_list %}

                  {%- assign tag_json = tag | downcase | handleize | json -%}
                  {% assign tag_handle = tag | handleize | downcase | prepend: '_' %}
                  {% assign tag_downcase = tag | handleize | downcase %}

                  {% assign handle_all_tags_downcase = all_tags_downcase | handleize %}

                  {% if all_tags_downcase contains tag_json or new_current_tags contains tag_handle or handle_all_tags_downcase contains tag_downcase %}
                    {%- case block_style -%}
                      {% when 'color' %}
                        {%- capture texture -%}{%- render 'get_swatch_texture', texture_name: tag_downcase -%}{%- endcapture -%}
                        {%- capture texture_style -%}
                          {%- if texture != '' -%}
                            {{ texture | asset_url }}
                          {%- endif -%}
                        {%- endcapture -%}
                        {%- assign color = tag | handle -%}
                        {%- assign colors = ',' | append: settings.product_colors | strip_newlines | downcase | append: ',' -%}
                        {%- assign _tag = tag | downcase | strip -%}
                        {%- assign _tag = ',' | append: _tag | append: ':' -%}
                        {%- capture curcol -%}
                          {%- if colors contains _tag -%}
                            {{ colors | split: _tag | last | split: ',' | first | strip }}
                          {%- endif -%}
                        {%- endcapture -%}
                        {% assign default_color = tag_downcase | split: '-' | first %}
                        <li class="tag-filter sf__option-filter sf__tooltip-item sf__tooltip-top tag-filter--color {% if new_current_tags contains tag_handle %}active remove-tag{% else %} add-tag{% endif %}" data-group="{{ title_handle }}" data-handle="{{ tag_downcase }}" data-tag-filter>
                            <span class="tag-filter__color tag-filter__color--{{ tag_downcase }}" style="background-color: {{ curcol | default: default_color }}; background-image: url({{-texture_style-}}); background-size: cover;">
                              {% if new_current_tags contains tag_handle %}
                                {{ tag | link_to_remove_tag: tag_downcase }}
                              {% else %}
                                {{ tag | link_to_add_tag: tag_downcase }}
                              {% endif %}
                            </span>
                          <span class="sf__tooltip-content">{{ tag | capitalize }}</span>
                        </li>
                      {% else %}
                        <li class="tag-filter sf__option-filter {{ item_class }}{% if block_style == 'default' %} hover-underline{% endif %}{% if new_current_tags contains tag_handle %} active remove-tag{% else %} add-tag{% endif %}" data-group="{{ title_handle }}" data-handle="{{ tag_downcase }}" data-tag-filter>
                          {% if new_current_tags contains tag_handle %}
                            {{ tag | link_to_remove_tag: tag_downcase }}
                          {% else %}
                            {{ tag | link_to_add_tag: tag_downcase }}
                          {% endif %}
                        </li>
                    {% endcase %}
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
