{%- assign item = section.settings -%}
{%- assign logo_size = item.logo_max_width -%}
<div class="sf__page-content">
  <div class="sf__coming-soon p-4 md:p-0 h-screen flex items-center justify-center flex-col flex-nowrap text-center sf-bg-lazy" style="background:{{ item.bg_color }};{% if item.image != blank %}background-image: url({{ item.image | img_url: '2048x' }});background-size: cover; background-repeat: no-repeat; background-position: center;{% endif %}">
    {% if item.show_logo %}
      {% if item.image_l != blank %}
        <div class="sf__logo" style="width: {{ logo_size }}px;">
          {%- render 'responsive-image', image: item.image_l, class_image: 'w-full' -%}
        </div>
      {% endif %}
    {% endif %}
    {% if item.t1 != blank %}<h1 class="text-3xl md:text-6xl font-light leading-snug mb-4">{{ item.t1 }}</h1>{% endif %}
    {% if item.t2 != blank %}<div class="description mb-6 md:mb-10" style="color: var(--color-secondary);">{{ item.t2 }}</div>{% endif %}
    {% if item.show_n %}
      {% if item.n_t1 != blank %}<h2 class="text-lg mb-6 md:mb-8 font-medium">{{ item.n_t1 }}</h2>{% endif %}
      {%- form 'customer', class: 'sf__newsleter-form mb-4 md:mb-8' -%}
        <div class="form-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="relative bg-white rounded-md">
            <span class="absolute flex items-center justify-center h-full w-11 top-0 left-0">{%- render 'icon', name: 'envelope-regular', size: 'small' -%}</span>
            <input type="email"
                 name="contact[email]"
                 class="form-control form__control-icon"
                 value=""
                 placeholder="{{ item.n_t2 }}"
                 autocomplete="off"
                 autocapitalize="off"
                 spellcheck="false" >
            <button class="absolute flex items-center justify-center right-0 top-0 h-full w-11" type="submit" class="btn" name="commit">{%- render 'icon', name: 'arrow-right-regular', size: 'small' -%}</button>
          </div>
        </div>
        {{ form.errors | default_errors }}
      {%- endform -%}
    {% endif %}
    {% if item.show_p %}
      {% if item.p_t1 != blank %}<h2 class="text-lg mb-6 md:mb-8 font-medium">{{ item.p_t1 }}</h2>{% endif %}
      {% form 'storefront_password', class: 'sf__password-form mb-4 md:mb-8' %}
        <div class="form-group">
          <div class="relative bg-white rounded-md">
            <span class="absolute flex items-center justify-center h-full w-11 top-0 left-0">{%- render 'icon', name: 'lock-regular', size: 'small' -%}</span>
            <input type="password" name="password" class="form-control form__control-icon" id="inputPassword2" placeholder="{{ item.p_t2 }}">
            <button class="absolute flex items-center justify-center right-0 top-0 h-full w-11" type="submit" class="btn" name="commit">{%- render 'icon', name: 'arrow-right-regular', size: 'small' -%}</button>
          </div>
        </div>
      {{ form.errors | default_errors }}
      {% endform %}
    {% endif %}
    <div class="">
      {% if item.f_t1 != blank %}<p>{{ item.f_t1 }}</p>{% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Settings",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#f5f1ed"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "show_logo",
        "label": "Show logo",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "image_l",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Logo Main width (in pixels)",
        "default": "175"
      },
      {
        "type": "header",
        "content": "Texts"
      },
      {
        "type": "html",
        "id": "t1",
        "label": "Title",
		    "default": "Website is coming soon"
      },
      {
        "type": "html",
        "id": "t2",
        "label": "Description",
		    "default": "Successful brands get into the mind slowly. A blurb in a magazine. A mention in a newspaper. A comment from a friend."
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_n",
        "label": "Show newsletter",
        "default": true
      },
      {
        "type": "textarea",
        "id": "n_t1",
        "label": "Title",
		    "default": "Subscribe to our newsletter"
      },
      {
        "type": "textarea",
        "id": "n_t2",
        "label": "Form Text",
		    "default": "Enter your e-mail"
      },
      {
        "type": "header",
        "content": "Password"
      },
      {
        "type": "checkbox",
        "id": "show_p",
        "label": "Show password",
        "default": false
      },
      {
        "type": "textarea",
        "id": "p_t1",
        "label": "Title",
		    "default": "Enter the password to get access to the site"
      },
      {
        "type": "textarea",
        "id": "p_t2",
        "label": "Form Text",
        "default": "Enter Password"
      },
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "textarea",
        "id": "f_t1",
        "label": "Copyright",
		    "default": "&copy; Minimog 2021. All Rights Reserved"
      }
    ]
  }
{% endschema %}
