{% assign enable_slider = section.settings.enable_slider %}

<div
    class="recently-viewed sf-product__section hidden"
    data-section-type="recently-viewed"
    data-section-id="{{ section.id }}"
    data-items="{{ section.settings.columns }}"
    data-enable-slider="{{ enable_slider }}"
    style="--column-gap: {{ section.settings.column_gap }}px; --column-gap-mobile: 20px; --row-gap: {{ section.settings.column_gap | plus: 10 }}px; --items: {{ section.settings.columns }}"
>
  <div class="{{ section.settings.container }}{% if template.name == 'index' %} section-my{% endif %}">
    {% assign defaut_heading = 'products.product.recently_viewed_products' | t %}
    <h2 class="text-2xl md:text-4xl text-center mb-8 md:mb-16">{{ section.settings.heading | default: defaut_heading }}</h2>

    <div class="relative" >
      {%- capture grid_class -%}
        md:grid-cols-{{ section.settings.columns | minus: 1 }} xl:grid-cols-{{ section.settings.columns }}
      {%- endcapture -%}
      <div
          class="sf-grid md:justify-center sf__ms-wrapper md:grid {{ grid_class | strip_newlines }}"
          data-grid-container
      >
        <div class="swiper-wrapper" data-product-list></div>
      </div>
      {% if enable_slider %}
        {% render 'slider-controls', absolute: true, show_nav: true, container: section.settings.container, dots_class: 'flex sm:hidden', custom_class: 'hidden' %}
      {% endif %}
    </div>
  </div>
</div>
<script src="{{ 'recently-viewed.min.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
        "name": "Recently viewed products",
        "settings": [
            {
                "type": "paragraph",
                "content": "Max 20 recently viewed products will be shown."
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Recently Viewed Products"
            },
            {
                "type": "select",
                "id": "container",
                "label": "Container type",
                "default": "container",
                "options": [
                    {
                        "value": "container-fluid",
                        "label": "Default"
                    },
                    {
                        "value": "w-full",
                        "label": "Full width"
                    },
                    {
                        "value": "container",
                        "label": "Use container box"
                    }
                ]
            },
            {
                "type": "range",
                "id": "columns",
                "label": "Products per row",
                "default": 4,
                "min": 3,
                "max": 8
            },
            {
                "type": "range",
                "id": "column_gap",
                "label": "Column gap",
                "default": 30,
                "min": 0,
                "max": 50,
                "step": 2
            },
            {
                "type": "checkbox",
                "id": "enable_slider",
                "label": "Enable slider",
                "default": true
            }
        ],
        "presets": [
            {
                "name": "Recently viewed products",
                "settings":{
                }
            }
        ]
    }
{% endschema %}
